.calendario{ float: left; }
.calendario .card-image > img{
  height: 150px;
}
.calendario .card-content{
  min-height: 200px;
}
.calendario .card-content > .head{
  float: left;
  width: 100%;
  font-size: 21px!important;
  font-weight: 700!important;
}
.calendario .card-content > .head > h4{
  float: left;
  margin: 0!important;
  font-size: 21px!important;
  font-weight: 700!important;
}
.calendario .card-content > .head > span{
  float: right;
  margin: 0;
  float: left;
  line-height: 1;
  float: right;
  color: #ffb300;
}
.calendario .card-content > .head > span > i{
  vertical-align: middle;
}


/* Interior */
.calendario .card-content .fecha > span.dia-num{
  width: 100%;
  float: left;
  text-align: center;
  line-height: 1;
  padding-top: 5px;
  font-size: 26px;
  font-weight: 500;
}
.calendario .card-content .fecha > span.dia-letra{
  float: left;
  width: 100%;
  text-align: center;
  font-weight: 300;
  line-height: 1.2;
}
.calendario .card-content > .interior ul{
  float: left;
  width: 100%;
}
.calendario .card-content > .interior ul > li > .fecha{
  float: left;
  width: 12%;
}
.calendario .card-content > .interior ul > li > .fecha.nuevo{
  color: #616161;
}
.calendario .card-content > .interior ul > li > .fecha.hoy{
  color: #64b5f6!important;
}
.calendario .card-content > .interior ul > li > .fecha.old{
  color: #616161!important;
}
.calendario .card-content > .interior ul > li{
  float: left;
  width: 100%;
  margin: 10px 0;
}
.calendario .card-content > .interior ul > li > .descripcion{
  float: right;
  width: 80%;
  margin-left: 5%;
  min-height: 46px;
  border-radius: 3px;
  vertical-align: middle;
  padding: 8px;
  font-size: 14px;
  color: #FFF;
}
.calendario .card-content > .interior ul > li > .descripcion.nuevo{
  background-color: #f1be30;
}
.calendario .card-content > .interior ul > li > .descripcion.hoy{
  background-color: #64b5f6!important;
}
.calendario .card-content > .interior ul > li > .descripcion.old{
  background-color: #616161!important;
}
.calendario .card-content > .interior ul > li > .descripcion h4{
  float: left;
  margin: 0;
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
}
.calendario .card-content > .interior ul > li > .descripcion span{
  float: left;
  font-size: .9em;
}
.calendario .card-content > .interior ul > li.separador{
  width: 85%;
  float: right;
  border-bottom: 1px solid #64b5f6;
}

.calendario .card-action{
  float: right;
  border: none;
  padding-top: 0;
  padding-right: 0;
}
.calendario .card-action > a{
  color: #64b5f6!important;
  font-weight: 700!important;
}
