.btn.btn-outline.purple:hover{
  background-color: transparent!important;
}
.select2-container--bootstrap{
  width: 400px!important;
}


/* Dashboard table */
.btn.publish{
  font-family: 'Roboto', sans-serif!important;
    color: #FFF!important;
    font-size: 14px!important;
    font-weight: 700!important;
    background-color: #e7505a!important;
}
.btn.publish:hover{
  color: #FFF!important;
}
th.red{
  background-color: transparent!important;
  border: none!important;
  width: 25px;
}
td.redS{
  padding-top: 15px!important;
}
